/* KNOACC BLOG http://www.knoacc.org stylesheet */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:&#39;&#39;;content:none}
table{border-collapse:collapse;border-spacing:0}
.post-feeds,.feed-links{display:none}
.section,.widget{margin:0;padding:0}
strong,b{font-weight:700}
cite,em,i{font-style:italic}
a{color:#F44336;outline:none;text-decoration:none}
a:hover{color:#D32F2F;text-decoration:none}
a img{border:none;border-width:0;outline:none}
abbr,acronym{border-bottom:1px dotted;cursor:help}
sup,sub{font-size:.8em;position:relative;top:-.4em;vertical-align:baseline}
sub{top:.4em}
small{font-size:.8em}
kbd{border:1px solid #757575;border-bottom-width:2px;border-radius:3px;font-size:80%;padding:2px 5px}
mark{background-color:#ffce00;color:#000}
p,blockquote,pre,table,figure,hr,form,ol,ul,dl{margin:10px 0}
hr{background-color:#666;border:none;height:1px}
.clear{clear:both}
body{background:#f9f9f9;color:#212121;font-family:&#39;Roboto&#39;,sans-serif!important;margin:0;padding:0;text-align:left;-moz-font-smoothing:antialiased;-moz-tap-highlight-color:transparent;-ms-font-smoothing:antialiased;-ms-tap-highlight-color:transparent;-o-font-smoothing:antialiased;-o-tap-highlight-color:transparent;-tap-highlight-color:transparent;-webkit-font-smoothing:antialiased;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}
.header,nav,#wrapper,footer{max-width:858px}
#header-wrapper{background:#2F0B3A;margin:0 auto;width:100%}
#header-wrapper a img{display:block}
.header{color:#fff;font-family:&#39;Product Sans&#39;,sans-serif;margin:0 auto;overflow:hidden;padding:30px 0 25px}
.header .widget{padding:0 20px}
.header img{height:auto;max-width:250px}
.header h1.title,.header h6.title{font-size:2em;font-weight:400;height:1em;margin:0;padding:0}
.header h1.title a,.header h6.title a,.header h1.title a:hover,.header h6.title a:hover{color:#FFF}
.header .description{display:none}
.header a{color:#FAFAFA}
.header a:hover{color:#FAFAFA}
#nav-wrapper{background:#2F0B3A;box-shadow:0 2px 3px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.24);margin:0 auto;padding:0;width:100%;z-index:2}
.toggle,[id^=drop]{display:none}
nav{font-family:Arial;font-size:.9em;margin:0 auto;padding:0;width:100%}
nav:after{clear:both;content:&quot;&quot;;display:table}
nav ul{float:left;list-style:none;margin:0;padding:0 5px;position:relative}
nav ul li{display:inline-block;float:left;margin:0}
nav ul li a{border-bottom:2px solid rgba(0,0,0,0);color:#bcbcbc;display:block;font-weight:700;padding:20px 15px 18px;text-transform:uppercase}
nav ul li ul li a{background:none;border-bottom:none;color:#757575;font-weight:400;padding:12px 20px;text-transform:inherit}
nav ul li:hover &gt; a,nav ul li a.current{border-bottom:2px solid #420B53;color:#FFF}
nav ul li ul li:hover &gt; a{background:#EEE;border-bottom:none;color:#455A64}
nav ul ul{background:#fff;border-radius:3px;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);display:none;padding:5px 0;position:absolute;top:50px;width:150px;z-index:3}
nav ul li:hover &gt; ul{display:inherit}
nav ul ul li{display:list-item;float:none;position:relative;width:100%}
nav ul ul ul{left:150px;top:-5px}
li &gt; a:after{content:&#39;&#39;}
li &gt; a:only-child:after{content:&#39;&#39;}
#search-form{float:right;margin:0;padding:0}
#search-form form{margin:0;padding-right:20px}
#search-form input#search-box[type=&quot;text&quot;]{background:#420B53;border:none;border-radius:3px;color:#ECEFF1;float:right;line-height:32px;margin:10px 0;padding:2px 10px 0;width:278px}
#search-form input#search-box[type=&quot;text&quot;]:hover{outline:none}
#search-form input#search-box[type=&quot;text&quot;]:focus{background:#FFF;color:#212121;outline:none}
#wrapper{margin:0 auto;padding:0}
#content-wrapper{margin:20px auto 0;overflow:hidden;padding:0 20px;position:relative;word-wrap:break-word}
.nocard{color:#757575;font-family:&#39;Product Sans&#39;,sans-serif;font-size:1.2em;padding:20px 15px 15px}
#post-wrapper{float:left;margin:0 -320px 0 0;width:100%}
.post-container{background:#FFF;border-radius:3px;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);margin:0 320px 20px 0;max-width:100%;padding:15px 15px 0}
.breadcrumbs{border-bottom:1px solid #E6E6E6;color:#9E9E9E;font-size:.7em;font-weight:700;margin:0 0 15px;overflow:hidden;padding:0 0 15px 0;text-transform:uppercase}
.breadcrumbs a{color:#9E9E9E}
.post-label-block{font-size:.8em;line-height:1.2em;margin-top:15px;overflow:hidden}
.post-label-block .date-block{color:#9e9e9e;display:inline-block;margin:0 0 2px;padding:4px 8px}
.label{float:right}
.post-label-block .label-block{background:#eee;border-radius:3px;color:#9e9e9e;display:inline-block;margin:0 0 2px;padding:4px 8px;text-transform:lowercase}
.post-label-block abbr{border-bottom:none}
.post{border-bottom:1px solid #E6E6E6;margin:0 0 15px;overflow:hidden;padding:0 0 10px}
.post-snippet{color:#757575;font-size:.9em;line-height:1.2em;max-height:2.4em;overflow:hidden}
.author-info{color:#9E9E9E;font-weight:700}
.author-info a{color:#9E9E9E}
.post-body{font-size:1em;line-height:1.6}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{color:#757575;font-family:&#39;Product Sans&#39;,sans-serif;line-height:normal;margin:20px 0 10px}
.post-body h1{font-size:1.5em}
.post-body h2{font-size:1.4em}
.post-body h3{font-size:1.3em}
.post-body h4{font-size:1.2em}
.post-body h5{font-size:1.1em}
.post-body h6{font-size:1em}
.post-body ol{margin:0 0 0 20px !important;padding:0!important;list-style:decimal outside}
.post-body ol ol{list-style:lower-latin outside}
.post-body ol ol ol{list-style:lower-roman outside}
.post-body ul{margin:0 0 0 20px !important;padding:0!important;list-style:circle outside}
.post-body ul ul{list-style:disc outside}
.post-body ul ul ul{list-style:square outside}
.post-body li{margin:.5em 0}
.post-body dl{margin:0!important;padding:0!important}
.post-body dt{color:#757575;font-size:.9em}
.post-body dd{margin:0 0 .5em 1em}
.post-body input,.post-body button,.post-body select,.post-body textarea{font:inherit;font-size:100%;line-height:normal;vertical-align:baseline}
.post-body textarea{box-sizing:border-box;display:block}
.post-body code{background-color:#e8eaf6;border:1px solid #dbdbdb;border-radius:3px;color:#727272;font-family:monospace;padding:1px 5px}
.post-body pre{background-color:#424242;border-radius:3px;color:#fafafa;font-family:monospace;margin-bottom:10px;overflow-x:scroll;padding:20px}
.post-body blockquote{background:#eee;border-radius:3px;color:#757575;font-size:.9em;margin-bottom:10px;padding:10px 15px}
.post-body img{border:0;height:auto;max-width:100%}
.post-body table{max-width:100%}
h1.post-title{color:#757575;font-family:&#39;Product Sans&#39;,sans-serif;font-size:1.5em;line-height:1.2em;margin:10px 0 20px}
h2.post-title{color:#212121;font-family:&#39;Product Sans&#39;,sans-serif;font-size:1.2em;line-height:1.2em;margin-bottom:10px;max-height:2.4em;overflow:hidden}
h2.post-title a{color:#424242}
.img-thumbnail{float:right;height:70px;margin:0 0 0 15px;width:70px}
.img-thumbnail img{height:70px;width:70px}
#blog-pager{clear:both!important;font-size:.7em;font-weight:700;margin:0;padding:3px;text-align:center;text-transform:uppercase}
#blog-pager-newer-link a,#blog-pager-older-link a,a.home-link,a.download{border-radius:2px;color:#757575;margin-bottom:15px;padding:8px;transition:all 450ms cubic-bezier(0.23,1,0.32,1) 0ms;width:80px}
#blog-pager-newer-link a{display:block;float:left}
#blog-pager-older-link a{display:block;float:right}
a.home-link{display:inline-block}
#blog-pager-older-link a:hover,#blog-pager-newer-link a:hover,a.home-link:hover,a.download:hover{background-color:#420B53;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);color:#fff}
.post-body th{font-weight:700}
.post-body table{background:#fafafa;color:#546e7a;font-size:.9em;margin:0}
.post-body td,.post-body th{border:1px solid #eee;padding:8px;text-align:left;vertical-align:top}
.post-body th{background:#f5f5f5}
.post-body table.tr-caption-container td{background:#420B53;border:none;border-radius:3px;color:#fff;overflow:hidden;padding:0}
.post-body img{height:auto;max-width:100%}
.post-body img,.post-body table.tr-caption-container{height:auto;max-width:100%}
.post-body .separator img{height:auto;max-width:100%}
.post-body td.tr-caption{color:#FFF;padding:0 8px 8px!important}
.post-body iframe,.post-body object,.post-body embed{max-width:100%}
.single-post{margin-top:20px}
.status-msg-wrap{background:#420B53;border:none;border-radius:3px;background-color:#420B53;font-family:&#39;Product Sans&#39;,sans-serif;color:#fff;font-size:1em;margin:0 0 20px;overflow:hidden;padding:10px 15px;width:auto}
.status-msg-body{background-color:#420B53;padding:0;position:static;text-align:left}
.status-msg-body a{font-size:.7em;padding:0;text-decoration:none;text-transform:uppercase}
.status-msg-border{display:none}
.status-msg-bg{display:none}
#footer-wrapper{background:#2F0B3A;padding:0}
#footer-wrapper a{color:#FFF}
#footer-wrapper a:hover{color:#F5F5F5}
footer{color:#bcbcbc;font-size:.8em;line-height:1.6;margin:15px auto 0}
#footer{padding:20px 25px}
#keep-in-touch{border-bottom:1px solid #37474F;margin-bottom:10px;padding-bottom:10px}
#keep-in-touch span{font-weight:700;margin-right:10px;text-transform:uppercase;vertical-align:middle}
#keep-in-touch svg{vertical-align:middle}
footer h3{display:inline;font-family:&#39;Product Sans&#39;,sans-serif;font-size:1em;font-weight:700}
#fab{background:#420B53;border-radius:50%;bottom:25px;box-shadow:0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28),0 2px 5px 0 rgba(0,0,0,.26);padding:15px 16px 11px;position:fixed;right:25px;transition:all 450ms cubic-bezier(0.23,1,0.32,1) 0ms;z-index:99999}
#fab:hover{box-shadow:0 0 4px rgba(0,0,0,.14),0 8px 8px rgba(0,0,0,.28),0 2px 5px 0 rgba(0,0,0,.26)}
.banner-home-top{border-bottom:1px solid #E6E6E6;margin:0 0 15px;padding-bottom:15px}
.banner-home-bottom{border-bottom:1px solid #E6E6E6;margin:0 0 15px;padding-bottom:15px}
.banner-post-top{margin:0 0 15px}
.banner-post-bottom{margin:25px 0 15px}
.banner-sidebar{margin-bottom:20px}
@media all and (max-width : 768px) {
.header,nav,#wrapper,footer{max-width:538px}
nav .toggle + a,.menu{display:none}
nav &gt; .toggle{border:none;color:#fff;cursor:pointer;display:block;font-weight:700;padding:13px 20px 23px;text-decoration:none;text-transform:uppercase;width:20px;z-index:4}
nav &gt; .toggle svg{margin:0 10px;vertical-align:top}
[id^=drop]:checked + ul{display:inherit;margin:0 auto;width:100%}
.toggle:checked{background:red}
nav ul .toggle{border:none;color:#757575;display:block;padding:16px 20px}
nav ul .toggle:hover{cursor:pointer}
nav ul &gt; .toggle svg{margin-left:10px;vertical-align:top}
nav ul{background:#fff;padding:0}
nav ul li{display:block;width:100%}
nav ul li a{border-bottom:none;color:#757575;font-weight:400;padding:17px 20px;text-transform:inherit}
nav ul ul{background:#f5f5f5;border-radius:0;box-shadow:none;float:inherit;padding:0;position:static;width:100%}
nav ul ul ul{background:#eee}
nav ul ul ul ul{background:#e0e0e0}
nav ul li:hover &gt; a,nav ul li a.current{border-bottom:none;color:#757575}
nav ul li ul li:hover &gt; a{background:none;border-bottom:none;color:#757575}
nav ul li ul li .toggle,nav ul li ul li a{color:#757575;padding:17px 20px 17px 30px}
nav ul li ul li ul li .toggle,nav ul li ul li ul li a{padding:17px 20px 17px 40px}
nav ul li ul li ul li ul li.toggle,nav ul li ul li ul li ul li a{padding:17px 20px 17px 50px}
nav ul ul li:hover &gt; ul,nav ul li:hover &gt; ul{display:none}
#search-form{display:block;margin:0 0 0 -60px;width:100%}
#search-form form{padding:0 20px 0 70px}
#search-form input#search-box[type=&quot;text&quot;]{margin:5px 0 15px;padding:2px 10px 0 40px;width:100%}
#post-wrapper,#sidebar-wrapper{float:none;max-width:100%;width:100%}
.post-container{margin:0 0 20px}
#nav-wrapper{overflow:hidden}
}
@media only screen and (max-width:468px) {
.label{display:block;float:inherit;margin:5px 0 0}
banner-post-top{position:absolute;top:0;left:0;z-index:9999}
#blog-pager-newer-link a,#blog-pager-older-link a,a.home-link{width:75px}
}
